<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{%static 'style.css'%}">
</head>
<body>

<pagename1>
    {% block pagename1 %}
    <h2>Главная страница</h2>
    {% endblock %}
</pagename1>

<menu>
    {%block menu%}

    <form action="http://127.0.0.1:8000" target="_self">
        <button class="btn">Главная</button>
    </form>
    <form action="http://127.0.0.1:8000/page1/" target="_self">
        <button class="btn">Магазин</button>
    </form>
    <form action="http://127.0.0.1:8000/page2/" target="_self">
        <button class="btn">Корзина</button>
    </form>
    {%endblock%}
</menu>
<content>
    {%block content%}
    {%endblock%}
</content>
</body>
</html>