<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <style>
        .btn {
        width: 10em;
        height: 3em;
        margin-top: 10px;
        }
        .btn_p {
        width: 5em;
        height: 1.5em;
        margin-top: 5px;
        }
    </style>
</head>
<body>
    <h2 align="center">{{ text }}</h2>
    <ul>
        <li>Atomic Heart <button class="btn_p"><a action="#" target="_self">{{ pay }}</a></button></li>
        <li>Cyberpunk 2077 <button class="btn_p"><a action="#" target="_self">{{ pay }}</a></button></li>
        <li>PayDay2 <button class="btn_p"><a action="#" target="_self">{{ pay }}</a></button></li>
        <li>Escape From Tarkov <button class="btn_p"><a action="#" target="_self">{{ pay }}</a></button></li>
    </ul>

    <form action="http://127.0.0.1:8000" target="_self">
        <button class="btn">Вернуться назад</button></form>
</body>
</html>